/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: white;
  letter-spacing: 1px;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 400;
  color: black;
}

button {
  background-color: black;
  color: #00cdce;
  padding: 8px 10px;
  letter-spacing: 2px;
  border: 0px;
  transition: all 0.5s;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #0decec;
  border: #00cdce 1px solid
}

::placeholder {
  color: #b9b9b9;
}
/* HEADER */

header {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

header p {
  font-size: 3.2rem;
}

header p span {
  color: #00cdce;
}

.header__content ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.header__content li {
  border-bottom: 3px solid white;
  margin: 1rem;
}

.header__content li:hover{
    border-color: #00cdce;
}

.header__content a {
  display: flex;
  color: #d3d8d8;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0px 12px 10px;
  text-align: center;
  align-items: center;
}

.header__content li:hover a{
    color: #00cdce;
}

/* CAROUSEL */
.carousel {
  background-image: url(../img/b4.jpg);
  height: 800px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.item h1 {
  font-size: 3.3rem;
  font-weight: 700;
  letter-spacing: 5px;
  padding-top: 1.5rem;
}

.item p {
  font-size: 1.4rem;
  padding-top: 1rem;
  color: #d3d8d8;
}

.owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 6rem;
}

.owl-nav .owl-prev {
  position: relative;
  left: 3rem;
  display: block;
}

.owl-nav .owl-next {
  position: relative;
  right: 3rem;
  display: block;
}

.owl-dots {
  position: absolute;
  width: 100%;
  bottom: -200px;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: white;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: black;
}

.owl-theme .owl-dots .owl-dot:focus {
  outline: none;
}

/* ABOUT */

.about {
  color: black;
  font-size: 0.9rem;
  text-align: center;
  margin: 50px 0;
}

.about__content {
  width: 80%;
  margin: 0 auto;
}

.about__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.about__item {
  padding: 0 10px;
}

.about__item i {
  width: 5rem;
  height: 5rem;
  border: 1px solid #7f7784;
  color: black;
  font-size: 1.1rem;
  border-radius: 50%;
  line-height: 5rem;
  margin-bottom: 1.5rem;
}

.about__item:hover i{
    color: #00cdce;
    border-color: #00cdce;
}

.about__item p {
  color: #7f7784;
}

.about__content h3 {
  color: #00cdce;
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.about__content p {
  line-height: 1.5rem;
}

/* STATS */

.stats {
  background-color: #00cdce;
  padding: 2rem 0 3rem;
}

.stats__content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.stats__items {
  display: flex;
  justify-content: space-around;
}

.stats__item p:first-of-type {
  font-size: 2.5rem;
  letter-spacing: 5px;
}

.stats__item p:last-of-type {
  font-size: 1.5rem;
  color: black;
}

/* BLOG */

.blog {
  width: 80%;
  margin: 50px auto;
}

.blog__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-align: left;
}

.blog__item {
  color: black;
  background-color: #efefef;
  border-top: #00cdce 5px solid;
}

.blog__item img {
  width: 100%;
}

.blog__text {
  padding-left: 1rem;
  padding-bottom: 1.2rem;
  line-height: 1.4rem;
}

.blog__item h3 {
  color: #00cdce;
  font-size: 1.2rem;
  margin: 15px 0 10px;
  font-weight: 600;
}

.blog__item p {
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
}

/* INTRO */

.intro {
  display: flex;
  text-align: center;
  margin-bottom: 50px;
}

.intro__video {
  position: relative;
  width: 40%;
}

.intro__video img{
    display: block;
    width: 100%;
    height: 100%;
}

.intro__video i {
  color: white;
  background-color: rgba(13, 236, 236, 0.2);
  position: absolute;
  top: 38%;
  left: 43%;
  font-size: 2rem;
  border: 1.2rem solid rgba(13, 236, 236, 0.2);
  border-radius: 50%;
}

.intro__content {
  background-color: #00cdce;
  padding: 30px 5rem 30px;
  width: 60%;
}

.intro__content h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.intro__content p {
  line-height: 1.8rem;
  margin-bottom: 40px;
}

.intro__content button{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.8rem 1.2rem;
}

/* PORTFOLIO */

.portfolio {
  width: 80%;
  margin: 0 auto 50px;
}

.portfolio__photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 25px;
}

.portfolio__photo img {
  width: 100%;
}

/* SUBSCRIBE */

.subscribe {
  background-color:#00cdce;
  text-align: center;
  padding: 60px 20rem 50px;
  margin-bottom: 50px;
}

.subscribe p {
  color: azure;
  margin-bottom: 2rem;
}

.subscribe input {
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
  width: 60%;
  line-height: 1rem;
  border: none;
  margin-bottom: 1rem;
}

.subscribe button {
  color: white;
  font-size: 1.2rem;
  font-weight: 550;
  padding: 10px 3rem;
}

.subscribe button:hover {
  color: #00cdce;
}

/* OUR AGENTS */

.agents {
  width: 80%;
  margin: 0 auto 50px;
  text-align: center;
}

.agents__items {
  display: flex;
  justify-content: space-around;
}

.agents__item img {
  width: 100%;
  display: block;
}

.agents__text {
  background-color: #363636;
  padding: 1.2rem 3rem 1rem;
}

.agents__text h3 {
  color: #00cdce;
}

.agents__text p {
  padding: 0.5rem 0;
  font-size: 0.7rem;
  text-transform: capitalize;
}

.agents__text i {
  border: 2px solid white;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0.4rem 0.3rem 1rem;
  line-height: 2rem;
  color: white;
}

.agents__text i:hover{
    color: #00cdce;
    border-color: #00cdce;
}

/* CONTACT */

.contact {
  margin-bottom: 50px;
}

.contact__map {
  background-color: #bbbbbb;
  border: 3px solid #00cdce;
}

.contact__map iframe {
  width: 100%;
  padding: 10px;
}

.contact h2 {
  margin-top: 70px;
}

.contact__form {
  width: 80%;
  margin: 0 auto;
}

.contact__form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 15px 30px;
}

.contact__form textarea {
  grid-row: 1/4;
  grid-column: 2/3;
  padding: 15px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #efefef;
  color: #999999;
  resize: none;
  border: none;
  border-bottom: 3px solid #b9b9b9;
}

.contact__form input {
  font-size: 1rem;
  font-weight: 600;
  background-color: #efefef;
  border: none;
  border-bottom: 3px solid #b9b9b9;
  padding: 5px 15px;
  color: #999999;
}

.contact__form input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  transition: all 0.5s;
}

.contact__form button {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}

.contact__form button:hover {
  color: #00cdce;
}

/* FOOTER  */

footer {
  background-color: #00cdce;
  display: flex;
  justify-content: space-between;
  padding: 40px 15rem;
  align-items: center;
}

footer span {
  color: red;
}

.footer__icons i {
  border: 2px solid white;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0.4rem 0.5rem 1rem;
  line-height: 2rem;
  color: white;
  text-align: center;
}

/* Back to top */
.backToTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
